<div class="container-fluid main-container">
  <div class="row"><h1>{{book.title}}</h1></div>
  <div class="row">
    <div class="col">
      <div class="row image-container">
        <img class="book-image" src="{{book.imageUrl}}"/>
        <img *ngIf="book.topSeller" class="top-seller" src="assets/img/top-seller.png"/>
      </div>
      <div class="row"><ngb-rating rate="{{book.rating}}" readonly="true" max="5"></ngb-rating></div>
    </div>
    <div class="col">
      <div class="row">
        <div class="panel panel-default details-panel"> 
          <div class="panel-heading">About</div>
          <div class="panel-body details-panel-body">
            <div class="row">Author: <a [href]="'book?author=' + book.author">{{book.author}}</a></div>
            <div class="row">Release Date: {{book.releaseDate | date:'mediumDate'}}</div>
            <div class="row">Genre: {{book.genre}}</div>
            <div class="row">Price: {{book.price | currency}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-success buy-button" (click)="addToCart(book)">Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="row return-button-row">
    <button type="button" class="btn btn-primary" (click)="navigateToBrowserPage()">Return</button>
  </div>
</div>
