<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card" style="width: 30rem">
        <img class="card-img-top image" [src]="user.image" alt="Card image cap">
        <div *ngIf='user.provider != "password"'class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text">This is an example of Social Authentication using Firebase in an Angular 5 web app. </p>
        </div>
        <div *ngIf='user.provider == "password"'class="card-body">
          <!--Creates a user form using NgForm directive and FormsModule-->
          <form (ngSubmit)="updateUser()" #userForm="ngForm">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName"
               required
               [(ngModel)]="user.firstName" name="firstName"
               #firstname="ngModel">
               <div [hidden]="firstname.valid || firstname.pristine" class = "alert alert-danger">
                 First name is required
               </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName"
               required
               [(ngModel)]="user.lastName" name="lastName"
               #lastname="ngModel">
               <div [hidden]="lastname.valid || lastname.pristine" class = "alert alert-danger">
                 Last name is required
               </div>
            </div>
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname"
                 [(ngModel)]="user.nickname" name="nickname">
              </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email"
               required
               [(ngModel)]="user.email" name="email"
               #email="ngModel">
               <div [hidden]="email.valid || email.pristine" class = "alert alert-danger">
                 Email is required
               </div>
            </div>
            <div class="form-group">
              <label for="billingAddress">Billing Address</label>
              <input type="text" class="form-control" id="billingAddress"
               required
               [(ngModel)]="user.billingAddress" name="billingAddress"
               #billing="ngModel">
               <div [hidden]="billing.valid || billing.pristine" class = "alert alert-danger">
                 Billing Address is required
               </div>
            </div>
            <div class="form-group">
              <label for="shippingAddress">Shipping Address</label>
              <input type="text" class="form-control" id="shippingAddress"
               required
               [(ngModel)]="user.shippingAddress" name="shippingAddress"
               #shipping="ngModel">
               <div [hidden]="shipping.valid || shipping.pristine" class = "alert alert-danger">
                 Shipping Address is required
               </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
            <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>