<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card" style="width: 30rem">
        <img class="card-img-top image" [src]="user.image" alt="Card image cap">
        <div *ngIf='user.provider != "password"'class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text">This is an example of Social Authentication using Firebase in an Angular 5 web app. </p>
        </div>
        <div *ngIf='user.provider == "password"'class="card-body">
          <!--Creates a user form using NgForm directive and FormsModule-->
          <form (ngSubmit)="updateUser()" #userForm="ngForm">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName"
                     required
                     [(ngModel)]="user.firstName" name="firstName"
                     #firstname="ngModel">
              <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
                First name is required
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName"
                     required
                     [(ngModel)]="user.lastName" name="lastName"
                     #lastname="ngModel">
              <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
                Last name is required
              </div>
            </div>
            <div class="form-group">
              <label for="nickname">Nickname</label>
              <input type="text" class="form-control" id="nickname"
                     [(ngModel)]="user.nickname" name="nickname">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email"
                     required
                     [(ngModel)]="user.email" name="email"
                     #email="ngModel">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
              </div>
              <label class="error">{{errorMessageEmail}}</label>
              <label class="success">{{successMessageEmail}}</label>
              <button type="button" (click)="updateEmail(email.value)" class="btn btn-link">Change Email</button>
            </div>
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="text" class="form-control" id="password"
                     [(ngModel)]="user.password" name="password" ng-pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$"
                     #password="ngModel">
              <label class="error">{{errorMessagePassword}} <br /> </label>
              <label class="success">{{successMessagePassword}}</label>
              <button type="button" (click)="updatePassword(password.value)" class="btn btn-link">Change Password</button>
            </div>
            <div class="form-group">
              <label for="billingAddress">Billing Address</label>
              <input type="text" class="form-control" id="billingAddress"
                     required
                     [(ngModel)]="user.billingAddress" name="billingAddress"
                     #billing="ngModel">
              <div [hidden]="billing.valid || billing.pristine" class="alert alert-danger">
                Billing Address is required
              </div>
            </div>      
            <div *ngFor="let shippingAddress of user.shippingAddress, let i=index, trackBy:customTrackBy">
              <div class="form-group">
                <label for="shippingAddress">Shipping Address {{i+1}}</label>
                <input type="text" class="form-control" id="shippingAddress"
                       required
                       [(ngModel)]="user.shippingAddress[i]" name="shippingAddress{{i}}"
                       #shipping="ngModel">
                <div [hidden]="shipping.valid || shipping.pristine" class="alert alert-danger">
                  Invalid Shipping Address
                </div>
                <button type="button" (click)="removeShippingAddress(user.shippingAddress[i])" class="btn btn-link">Remove</button>
              </div>
            </div>
            <div>
              <button type="button" (click)="addShippingAddress()">+ add Shipping Address</button>
            </div>
            <br />
            <div *ngFor="let creditCard of user.creditCards, let i=index, trackBy:customTrackBy">
              <div class="form-group">
                <label for="creditCards">Credit Card {{i+1}}</label>
                <input type="tel" class="form-control" [(ngModel)]="creditCard.cardName" name="cardName{{i}}"
                       #cardName="ngModel" placeholder="Name on Credit Card" id="cc-name" minlength="2" required>
                <div [hidden]="cardName.valid || cardName.pristine" class="alert alert-danger">
                  Invalid Name
                </div>
                <input type="tel" class="form-control" [(ngModel)]="creditCard.cardNumber" name="cardNumber{{i}}" 
                       #cardNumber="ngModel" placeholder="Credit Card Number" autocomplete="cc-number" id="cc-number"
                       ccNum required cardNumValid>
                <div [hidden]="cardNumber.valid || cardNumber.pristine" class="alert alert-danger">
                  Invalid Number
                </div>
                <input type="tel" class="form-control" [(ngModel)]="creditCard.expirationDate" name="cardExpDate{{i}}"
                       #cardExpDate="ngModel" placeholder="Credit Card Expiration Date" autocomplete="cc-exp" id="cc-exp"
                       ccExp required cardExpDateValid>
                <div [hidden]="cardExpDate.valid || cardExpDate.pristine" class="alert alert-danger">
                  Invalid Expiration Date
                </div>
                <input type="tel" class="form-control" [(ngModel)]="user.creditCards[i].cvc" name="cardCvc{{i}}"
                       #cardCvc="ngModel" placeholder="Credit Card CVC" autocomplete="cc-cvc" id="cc-csc"
                       ccCvc required cardCvcValid>
                <div [hidden]="cardCvc.valid || cardCvc.pristine" class="alert alert-danger">
                  Invalid CVV
                </div>
                <button type="button" (click)="removeCreditCard(user.creditCards[i].cardNumber)" class="btn btn-link">Remove</button>
              </div>
            </div>
            <div>
              <button type="button" (click)="addCreditCard()">+ add Credit Card</button>
            </div>
            <br /><br />
            <div>
              <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
              <div class="divider"></div>
              <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
            </div>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>
