.bg {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/919-FLL37TL.jpg");
  height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  padding: 5rem;
  padding-left: 20%;
  padding-right: 20%;
}
